/*
Template Name:Mediumish
Copyright:WowThemes.net,https://www.wowthemes.net
Version:1.0.1
License: https://www.wowthemes.net/freebies-license/
gradasi:  #040D21 #7B2B8E #F148FB
*/
* {
	/* overflow-x: hidden; */
}

html{
	scroll-behavior: smooth;
}
body {
	padding-top:5rem;
	/* background-attachment: fixed; */
	/* background-image: url("../img/bg-pattern.png"); */
	background-color: white;
	background-size: cover;
	/* background-position: 0 50px; */
	/* color: #040B21; */	
}
.tagline {
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    text-align: center;
    color: #003366;
    line-height: 40px;
    margin: 40px 0;
    margin-top: 0;
    font-style: italic;
    position: relative;
    z-index: 1;
    padding: 40px;
}
.mage-desc {
    width: 60%;
    margin-left: 250px;
    display: flex;
}
.mage-desc-container {
    text-align: right;
    position: relative;
    z-index: 99;
}
.mage-desc-content {
    background: #fff;
    background: #1F1248;
    padding: 20px;
    font-size: 1rem;
}
.mage-desc-content p {
    color: #F5D300;
    margin: 0;
    font-size: 16px;
}
.mage-desc-content-bold {
    font-weight: 700;
}
.mage-desc-shadow {
    width: calc(100% - 20px);
    height: 100%;
    background: #481E7A;
    position: absolute;
    transform: translate(-10px, 20px);
    z-index: -1;
    /* bottom: -10px; */
}
.mage-desc img {
    height: 150px;
    position: absolute;
    left: 20px;
    transform: translateY(40px);
}
.font-contact {
	font-size: calc(8px + (26 - 8) * ((100vw - 300px) / (1600 - 300)));
}
.font-sec {
	font-size: calc(18px + (52 - 18) * ((100vw - 300px) / (1600 - 300)));
}
.mainheading {
	padding:1rem 0rem;
}
.jumbotron img{
	background-size: cover;
	width: 100vw;
	margin-top: -30px;
	/* background-repeat: no-repeat; */
	/* background-image: url("../img/bg.jpg"); */
	/* height: ; */
}
.about {
	margin-top: 100px;
	color: red;
}
.about hr {
	border-top: 2px solid red;
	width: 40%;
}
.contact {
	color: red;
	margin-top: 100px;
}
.contact hr {

	border-top: 2px solid red;
	width: 40%;
}

a {
	color: #003366;
	/* color:#00ab6b; */
}
a,a:hover {
	transition:all 0.2s;
}
.mediumnavigation {
	background:red;
	box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
}
section {
	margin-bottom:20px;
}

.section-title h2 {
	border-bottom:1px solid rgba(0,0,0,.15);
	margin-bottom:25px;
	font-weight:700;
	font-size:1.4rem;
	margin-bottom:27px;
}
.section-title span {
	border-bottom:1px solid rgba(0,0,0,.44);
	display:inline-block;
	padding-bottom:20px;
	margin-bottom:-1px;
}
@media (min-width:576px) {
	.card-columns.listfeaturedtag {
		-webkit-column-count:2;
		-moz-column-count:2;
		column-count:2;
	}
}
@media (min-width:992px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-right:.7rem;
		padding-left:.7rem;
	}
}

@media all and (min-width: 1280px){
	.mage-desc-content p{
		font-size: 1rem;
		text-align: left;
		margin-left: 10px;
	}
	.mage-desc {
		width: 60%;
		margin-left: 400px;
		margin-top: 50px;
		display: flex;
	}
	.mage-desc-container {
		text-align: right;
		position: relative;
		z-index: 99;
	}
	.mage-desc-content {
		background: #fff;
		background: #1F1248;
		padding: 20px;
	}
	.mage-desc-content-bold {
		font-weight: 700;
	}
	.mage-desc-shadow {
		width: calc(100% - 20px);
		height: 100%;
		background: #481E7A;
		position: absolute;
		transform: translate(-10px, 20px);
		z-index: -1;
	}
	.mage-desc img {
		height: 200px;
		position: absolute;
		left: 200px;
		transform: translateY(40px);
	}
	.feature-image{
		width: 300px;
	}
	.feature-button{
		width: 160px;
		margin-top: 20px;
	}
	.feature-button p{
		font-size: 2rem;
	}
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
	.mage-desc {
		width: 60%;
		margin-left: 35	0px;
		display: flex;
	}
	.mage-desc-container {
		text-align: right;
		position: relative;
		z-index: 99;
	}
	.mage-desc-content {
		background: #fff;
		background: #1F1248;
		padding: 20px;
		text-align: left;
	}
	.mage-desc-content p {
		color: #F5D300;
		margin: 0;
		font-size: 1.2rem;
	}
	.mage-desc-content-bold {
		font-weight: 700;
	}
	.mage-desc-shadow {
		width: calc(100% - 20px);
		height: 100%;
		background: #481E7A;
		position: absolute;
		transform: translate(-10px, 20px);
		z-index: -1;
	}
	.mage-desc img {
		height: 150px;
		position: absolute;
		left: 80px;
		transform: translateY(40px);
	}
}

@media all and (min-width: 768px) and (max-width: 1023px) { 
    .tagline {
        font-size: 50px;
        line-height: 80px;
        margin: 100px 0;
        padding: 80px;
    }
    .mage-desc {
        width: 80%;
        margin: 100px auto;
    }
    .mage-desc-container {
        margin-left: 100px;
    }
    .mage-desc-content {
		padding: 40px;
		text-align: left;
    }
    .mage-desc-content p {
        margin: 0;
        font-size: 0.9rem;
    }
    .mage-desc-shadow {
        width: calc(100% + 40px);
        right: 0;
        bottom: -40px;
        transform: translate(0px, 0px);
    }
    .mage-desc img {
		height: 150px;}
	.feature-image{
		margin-top: 50px;
		width: 350px;
	}
	.feature-button{
		width: 250px;
		margin-top: 20px;
	}
	.feature-button p{
		font-size: 3rem;
	}
	.jumbotron{
		margin-top: -65px;
	}	
	.jumbotron img{
		margin-top: -70px;
		/* background-repeat: no-repeat; */
		/* background-image: url("../img/bg.jpg"); */
		/* height: ; */
	}
}

@media all and (min-width: 480px) and (max-width: 768px) { 

}

@media all and (max-width: 480px) { 
	.jumbotron img{
		margin-top: 0px;
		/* background-repeat: no-repeat; */
		/* background-image: url("../img/bg.jpg"); */
		/* height: ; */
	}
	.mage-desc {
        width: 80%;
        margin: 10px auto;
    }
    .mage-desc-container {
        margin-left: 100px;
    }
    .mage-desc-content {
		padding: 10px;
		text-align: left;
    }
    .mage-desc-content p {
        margin-top: 10px;
        font-size: 0.4rem;
    }
    .mage-desc-shadow {
        width: calc(100% + 10px);
        right: 0;
        bottom: -10px;
        transform: translate(0px, 0px);
    }
    .mage-desc img {
		height: 90px;
		left: 70px;
	}
	.feature-image{
		width: 180px;
		margin-top: 40px;
	}
	.feature-button{
		width: 160px;
		margin-top: 10px;
	}
	.feature-button p{
		font-size: 1rem;
	}
	.contact {
		margin-top: 40px;
	}
}
.card-columns .card {
	margin-bottom:20px;
}
.card {
	background: #040B21
}
.listfeaturedtag .wrapthumbnail {
	height:258px;
	flex:0 0 auto;
}
.listfeaturedtag .card {
	border:1px solid rgba(0,0,0,.1);
	border-radius:2px;
	height:260px;
	padding-left:0;
	margin-bottom:15px;
}
.listfeaturedtag .thumbnail {
	background-size:cover;
	height:100%;
	display:block;
	background-position:38% 22% !important;
	background-origin:border-box!important;
	border-top-left-radius:2px;
}
.listfeaturedtag .card-block {
	padding-left:0;
}
.listfeaturedtag h2.card-title,.listrecent h2.card-title {
	font-size:1.3rem;
	font-weight:700;
	line-height: 1.25;
}
.listfeaturedtag h2.card-title a,.listrecent h2.card-title a {
	color:#E5E5E5;
}
.listfeaturedtag h2.card-title a:hover,.listrecent h2.card-title a:hover {
	text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
	text-decoration:none;
}
.listfeaturedtag h4.card-text,.listrecent h4.card-text {
	color:#E5E5E5;
	font-size:0.95rem;
	line-height:1.4;
	font-weight:400;
}
.listfeaturedtag .wrapfooter {
	position:absolute;
	bottom:20px;
	font-size:12px;
	display:block;
	width:85%;
}
.listrecent .wrapfooter {
	font-size:12px;
	margin-top:30px;
}
.author-thumb {
	width:40px;
	height:40px;
	float:left;
	margin-right:13px;
	border-radius:100%;
}
.post-top-meta {
	margin-bottom:2rem;
}
.post-top-meta .author-thumb {
	width:72px;
	height:72px;
}
.post-top-meta.authorpage .author-thumb {
	margin-top:40px;
}
.post-top-meta span {
	font-size:0.9rem;
	color:rgba(0,0,0,.44);
	display:inline-block;
}
.post-top-meta .author-description {
	margin-bottom:5px;
	margin-top:5px;
	font-size:0.95rem;
}
.author-meta {
	flex:1 1 auto;
	white-space:nowrap!important;
	text-overflow:ellipsis!important;
	overflow:hidden!important;
}
span.post-name,span.post-date,span.author-meta {
	display:inline-block;
}
span.post-date,span.post-read {
	color:#E5E5E5;
}
span.post-read-more {
	align-items:center;
	display:inline-block;
	float:right;
	margin-top:8px;
}
span.post-read-more a {
	color:rgba(0,0,0,.44);
}
span.post-name a,span.post-read-more a:hover {
	color:#E5E5E5;
}
span.post-read-more a {
	fill: #E5E5E5;
}
.dot:after {
	content:"·";
	margin-left:3px;
	margin-right:3px;
}
.mediumnavigation .form-control {
	font-size:0.8rem;
	border-radius:30px;
	overflow:hidden;
	border:1px solid rgba(0,0,0,0.04);
}
.mediumnavigation .form-inline {
	margin-left:15px;
}
.mediumnavigation .form-inline .btn {
	margin-left:-50px;
	border:0;
	border-radius:30px;
	cursor:pointer;
}
.mediumnavigation .form-inline .btn:hover,.mediumnavigation .form-inline .btn:active {
	background:transparent;
	color:green;
}
.mediumnavigation .navbar-brand {
	font-weight:500;
}
.mediumnavigation .dropdown-menu {
	border:1px solid rgba(0,0,0,0.08);
	margin:.5rem 0 0;
}
.mediumnavigation .nav-item,.dropdown-menu {
	font-size:0.9rem;
}
.mediumnavigation .search-icon {
	margin-left:-40px;
	display:inline-block;
	margin-top:3px;
	cursor:pointer;
}
.mediumnavigation .navbar-brand img {
	max-height:30px;
	margin-right:5px;
}
.mainheading h1.sitetitle {
	font-family:Righteous;
}
.mainheading h1.posttitle {
	font-weight:700;
	margin-bottom:1rem;
}
.footer {
	border-top:1px solid rgba(0,0,0,.05)!important;
	padding-top:15px;
	padding-bottom:12px;
	font-size:0.8rem;
	color:white;
	background-color: red;
	margin-top:50px;
}
.link-dark {
	color:#040B21;
}
.article-post {
	font-family:Merriweather;
	font-size:1.2rem;
	line-height:1.8;
	color:#040B21;
}
blockquote {
	border-left:4px solid #f148fb;
	padding:0 20px;
	font-style:italic;
	color:#040B21;
}
.article-post p,.article-post blockquote {
	margin:0 0 1.5rem 0;
}
.featured-image {
	display:block;
	margin:0px auto;
	margin-bottom:1.5rem;
}
.share {
	text-align:center;
	margin-top:20px;
}
.share p {
	margin-bottom:10px;
	font-size:0.95rem;
	color: #040B21;
}
.share {
	display:none;
}
.share ul li {
	display:inline-block;
	margin-bottom:5px;
}
.share ul li a {
	fill: #040B21;
	color: #040B21;
}
.share ul {
	padding-left:0;
	margin-left:0;
}
.svgIcon {
	vertical-align:middle;
}

@media (min-width:1024px) {
	.share {
		position:fixed;
		display:block;
	}
	.share ul li {
		display:block;
	}
}
@media (max-width:999px) {
	.listfeaturedtag .wrapthumbnail, .listfeaturedtag .col-md-7 {
		width:100%;
		max-width:100%;
		-webkit-box-flex: 0;
		-webkit-flex: 100%;
		-ms-flex: 100%;
		flex: 100%;
	}
	.listfeaturedtag .wrapthumbnail {
		height:250px;
	}
	.listfeaturedtag .card {
		height:auto;
	}
	.listfeaturedtag .wrapfooter {
		position:relative;
		margin-top:30px;
	}
	.listfeaturedtag .card-block {
		padding:20px;
	}
}
@media (max-width:1024px) {
	.post-top-meta .col-md-10 {
		text-align:center;
	}
}
@media (max-width:767px) {
	.post-top-meta.authorpage {
		text-align:center;
	}
}
.share,.share a {
	color:rgba(0,0,0,.44);
	fill:rgba(0,0,0,.44);
}
.graybg {
	background-color:rgba(255, 255, 255, 0.1);
	padding:40px 0 46px;
	position:relative;
}
.listrelated .card {
	box-shadow:0 1px 7px rgba(0,0,0,.05);
	border:0;
}
.card {
	border-radius:4px;
}
.card .img-thumb {
	border-top-right-radius:4px;
	border-top-left-radius:4px;
}
ul.tags {
	list-style:none;
	padding-left:0;
	margin:0 0 3rem 0;
}
ul.tags li {
	display:inline-block;
	font-size:0.9rem;
}
ul.tags li a {
	background:#040B21;
	color:#E5E5E5;
	border-radius:3px;
	padding:5px 10px;
	transition: 0.3s;
}
ul.tags li a:hover {
	text-shadow: 0px 0px 15px white;
	text-decoration:none;
}
.margtop3rem {
	margin-top: 3rem;
}
.sep {
	height:1px;
	width:20px;
	background:#040B21;
	margin:0px auto;
	margin-bottom:1.2rem;
}
.btn.follow {
	border-color:#003366;
	color:#003366;
	padding:3px 10px;
	text-align:center;
	border-radius:999em;
	font-size:0.85rem;
	display:inline-block;
}
.btn.subscribe {
	background-color:#f148fb;
	border-color:#f148fb;
	color:rgba(255,255,255,1);
	fill:rgba(255,255,255,1);
	border-radius:30px;
	font-size:0.85rem;
	margin-left:10px;
	font-weight:600;
	text-transform:uppercase;
}
.post-top-meta .btn.follow {
	margin-left:5px;
	margin-top:-4px;
}
.alertbar {
	box-shadow:0 -3px 10px 0 rgba(0,0,0,.0785);
	position:fixed;
	bottom:0;
	left:0;
	background-color:#040D21;
	width:100%;
	padding:14px 0;
	z-index:1;
	color: #E5E5E5;
}
.alertbar-logo {
	width: 50px;
}
.form-control::-webkit-input-placeholder {
	color: rgba(0,0,0,.5);
}
.form-control:-moz-placeholder {
	color: rgba(0,0,0,.5);
}
.form-control::-moz-placeholder {
	color: rgba(0,0,0,.5);
}
.form-control:-ms-input-placeholder {
	color: rgba(0,0,0,.5);
}
.form-control::-ms-input-placeholder {
	color: rgba(0,0,0,.5);
}
.authorpage h1 {
	font-weight:700;
	font-size:30px;
}
.post-top-meta.authorpage .author-thumb {
	float:none;
}
.authorpage .author-description {
	font-size:1rem;
	color:#040B21;
}
.authorpage .author-description a{
	color: #003366;
}
.post-top-meta span {
	color: #040B21;
}
.post-top-meta.authorpage .btn.follow {
	padding:7px 20px;
	margin-top:10px;
	margin-left:0;
	font-size:0.9rem;
}
.graybg.authorpage {
	border-top:1px solid #f0f0f0;
}
.authorpostbox {
	width:760px;
	margin:0px auto;
	margin-bottom:1.5rem;
	max-width:100%;
}
.authorpostbox .img-thumb {
	width:100%;
}
.sociallinks {
	margin:1rem 0;
}
.sociallinks a {
	background:#666;
	color:#fff;
	width:22px;
	height:22px;
	display:inline-block;
	text-align:center;
	line-height:22px;
	border-radius:50%;
	font-size:12px;
}
.nav-link {
	color: white !important;
}
.nav-link:hover {
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}
.active {
	font-weight: bold;
}
.toggler-img {
	width: 30px;
}

.card-fix{
	background-color: #040B21;
	width: 357px;
	height: 475px;
}

.feature {
	margin-top: 100px;
}
.feature hr {
	border-top: 2px solid black;
	width: 40%;
}

.feature-button {
    width: 100%;
    position: relative;
	right: -5px;
	padding-top: 0px;	
}
/* .feature-button p {
    font-size: 1em;
} */

.button {
    background-color: #0B1530;
	padding: 15px 25px 15px 25px;
	cursor: pointer;
    color: white;
    text-align: center;
	/* margin-top: 20px; */
	width: 50%;	
	transition:all 0.2s;
	font-weight: bold;
}

.button p {
    /* font-size: 1em; */
    margin: 0;
    /* transition: .33s; */
}
.button:hover {
	text-shadow: 0px 0px 15px white;
	border-radius: 15px;
}